@charset "utf-8";
/* CSS Document */
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea {margin:0; padding:0; font-weight: normal;font-style: normal;font-size: 100%; font-family:"",Arial, Helvetica, sans-serif;}
ol, ul ,li{list-style: none;}
img {border: 0; margin:0; padding:0;}
body { font-family:""; font-size:12px; background:url(../images/body1.jpg) no-repeat top;}
a,em{ text-decoration:none; font-style:normal;}
.clear{ clear:both; height:13px;  overflow:hidden}
a{ cursor:pointer;}


.top{ width:100%; margin:0 auto;}
.head
{
	width:1200px;
	margin:0 auto;
	position:relative;
}
.logo
{
	float:left;
	width:492px;
}
.search
{
	float:right;
	width:265px;
	padding-top:30px;
}
.menu
{
	background:url(../images/menu_bj.gif) repeat-x;
	width:100%;
	height:50px;
	clear:both;
}

.menu ul{ width:1200px; height:50px; margin:0 auto; position:relative;}
.menu ul li{ width:143px; height:50px; display:block; float:left; line-height:50px; text-align:center; background:url(../images/nav_right.gif) no-repeat right center; padding-right:1px;}
.menu ul li:hover{ width:143px; height:50px; display:block; float:left; line-height:50px;   }
.menu ul li a{ width:143px; height:50px; display:block; font-size:16px; color:#333333; font-weight:600; font-family:'微软雅黑';}
.menu ul li a:hover{ background:url(../images/hover.gif) repeat-x; width:141px; color:#ffffff;}

.banner{ width:100%; margin:0 auto; text-align:center; overflow:hidden; background:#fdfcf8;  }
.bannerx{ width:100%; margin:0 auto; position:relative; font-size:0;}
.bannerxList li { position: absolute; left: 0px; top: 0; width: 100%; font-size:0; }
.bannerxList img { width:100%; height:585px;}
.bannerxBton { position:absolute; left:46.5%; bottom:-35px; padding-left:35px; width:105px; height:33px; }
.bannerxBton li { width:17px; height:17px; float:left; margin:8px 3px; background-color:#e3e3e3; border-radius:50%; cursor:pointer;}
.bannerxBton li.up { background-color:#00387e;}
.main
{
	background:url(../images/bj.gif) repeat-x;
	width:100%;
	height:541px;
	clear:both;
}
.main_Con
{
	width:1200px;
	margin:0 auto;
	position:relative;
}
.main_Con_t
{
	padding-top:26px;
	height:210px;
}
.main_Con_t_L
{
	float:left;
	width:482px;
}
.main_Con_t_M
{
	float:left;
	width:380px;
	padding-left:44px;
}
.main_Con_t_R
{
	float:left;
	width:246px;
	padding-left:44px;
}
.title
{
	color:#474747;
	font-family:'微软雅黑';
	font-size:16px;

}
.title span
{
	color:#bf0908;
}
.index_gywm
{
	color:#333333;
	font-size:12px;
	line-height:2.0em;
	padding-top:10px;
}
.index_news
{
	padding-top:10px;
}
.more
{
	float:right;
	padding-top:3px;
}
.more a
{	
	color:#034383;
	font-family:'微软雅黑';
	font-size:12px;
	
}
.index_news_tj
{
	background:url(../images/news_bj.gif);
	width:374px;
	height:73px;
}
.index_news_tj ul li
{
	line-height:1.9em;
	color:#666666;

}
.index_news_tj ul li a
{
	color:#cd1a1a;
}
.index_news_tj ul li img
{
	float:left;
	padding-right:10px;
}
.mr
{
	float:right;
	color:#166cbf;
}
.index_news_list 
{
	line-height:1.8em;
	padding-top:10px;
	color:#666666;
}
.index_news_list  a
{
	color:#666666;
}
.index_lxwm
{
	background:url(../images/lxwm_bj.gif);
	width:250px;
	height:208px;
}
.liubai
{
	height:100px;
}
.index_lxwm_Con
{
	text-align:center;
	line-height:53px;
}
.index_lxwm_Con a
{
	font-family:'微软雅黑';
	font-size:16px;
	color:#484848;
}
.main_Con_b
{
	padding-top:40px;
	clear:both;
}
.pro_02{ width:1180px; height:220px; float:left;  }
.pro_02_01{ width:1180px; height:220px; margin:0 auto; position:relative;overflow:hidden;z-index:9999; }
.pro_02 ul{width:9999px;position:absolute; left: 0;top: 10px; margin:0 auto;  overflow:hidden;}
.pro_02 ul li{ width:184px; height:220px; float:left; margin-left:20px;_margin-left:15px;  }
.pro_02 ul li h1{ width:184px; height:157px; display:block; padding-bottom:10px;}
.pro_02 ul li h1 img{ width:182px; height:157px;   display:block; border:1px solid #d1d1d1;}
.pro_02 ul li h2{  text-align:center;background:#e7e7e7; height:28px; line-height:28px; }
.pro_02 ul li h2 a{ color:#353535; font-family:"微软雅黑"; font-size:12px;}

.bot
{
	width:100%;
	background-color:#00418d;
	height:120px;
}
.bot_center
{
	width:1200px;
	margin:0 auto;
	position:relative;	
}
.dbxx
{
	width:990px;
	float:left;
	color:#fff;
	line-height:2.0em;
	padding-top:30px;
}
.yqlj
{
	float:right;
	padding-top:50px;
}
.yqlj select
{
	border:1px solid #999999;
	height:21px;
	width:175px;
	text-align:center;
}
.yqlj select option
{
	color:#666666;
	text-align:center;
}
/*二级*/
.ejbanner
{
	width:100%;
	height:370px;
	clear:both;
}
.ejbanner img
{
	width:100%;
	height:370px;
}
.line
{
	background:url(../images/line.gif);
	width:100%;
	height:43px;
}
.paging
{
	width:1200px;
	margin:0 auto;
	position:relative;
}
.paging_L
{
	float:left;
	width:263px;
}
.paging_R
{
	float:right;
	width:877px;
}
.L_title
{
	text-align:center;
	width:238px;
	font-family:'微软雅黑';
	font-size:18px;
	color:#4c4b4b;
	line-height:42px;
}
.L_fl
{
	padding-bottom:30px;
}
.L_fl ul li
{
	background:url(../images/mouse_out.gif);
	width:238px;
	height:38px;
	line-height:38px;
	text-align:center;
}
.L_fl ul li:hover
{
	background:url(../images/mouse_hover.gif);
	width:238px;
	height:38px;
	line-height:38px;
	text-align:center;
}
.L_fl ul li a
{
	font-family:'微软雅黑';
	font-size:16px;
	color:#555555;
}
.L_fl ul li a:hover
{
	font-family:'微软雅黑';
	font-size:16px;
	color:#ffffff;
}
.paging_lxwm
{
	background:url(../images/paging_lxwm.gif);
	width:263px;
	height:292px;
}
.liubai167
{
	height:135px;
}
.paging_lxwm_con
{
	line-height:2.5em;
	padding-left:26px;
}
.nav_title_L
{
	float:left;
	color:#474747;
	font-family:'微软雅黑';
	font-size:18px;
	line-height:42px;
}
.nav_title_R
{
	float:right;
	line-height:42px;
}
.nav_title_R img
{
	float:left;
	padding-top:12px;
	
}
.nav_title_R
{
	color:#00418d;
}
.nav_title_R a
{
	color:#333333;
}
.con
{
	clear:both;
	padding-top:15px;
	color:#555555;
	font-family:'微软雅黑';
	font-size:14px;
	line-height:1.8em;
}
.news_list{ width:850px; margin:0 auto; position:relative; margin-top:15px; margin-bottom:30px;}
.news_list ul {width:850px;;margin:0 auto;}
.news_list ul li {text-align:right;list-style-type:none;height:35px;line-height:35px;font-size:12px;font-family:"宋体";border-bottom:1px dashed #d2d2d2;}
.news_list ul li:hover{text-align:right;list-style-type:none;height:35px;line-height:35px;font-size:12px;font-family:"宋体";	background:url(../images/list_bj.gif);}
.news_list ul li a {color:#444444;text-decoration:none;cursor:pointer;}
.news_list ul li a:hover{ color:#e81515;}
.news_list ul li .mr {float:left;color:#444444;}
.news_list ul li .mr:hover {color:#e81515;}
.news_list ul li em {padding-right:0px;font-style:normal;}


.news_dt h1{ color:#555555; text-align:center; line-height:40px;font-family:'微软雅黑'; font-size:18px;}
.news_dt h2{ color:#e81515; text-align:center;line-height:30px;font-family:'微软雅黑'; font-size:14px; padding-bottom:10px; line-height:2.0em;}

.news_dt{ color:#555555;font-family:'微软雅黑'; font-size:14px;}
.page
{
	padding-top:30px;
	color:#555555;font-family:'微软雅黑'; font-size:18px;
}
.page a
{
	color:#555555;font-family:'微软雅黑'; font-size:18px;
}


.case_list ul{ padding-left:10px;  margin-bottom:35px;}
.case_list ul li{ width:187px; height:180px; float:left; margin-right:10px; margin-bottom:28px; margin-top:12px;}
.case_list ul li h1{ width:187px; height:162px; padding:3px; background:#eeeff2;}
.case_list ul li h1 a{ width:187px; height:162px; display:block; border:1px solid #c1c2c3;}
.case_list ul li h1 a:hover{border:1px solid #c71738;}
.case_list ul li h1 img{ width:185px; height:160px;}
.case_list ul li h2{ margin-top:15px; text-align:center; background-color:#e7e7e7;}
.case_list ul li h2:hover{ margin-top:15px; text-align:center; background-color:#00418d;}
.case_list ul li h2 a{ color:#353535;}
.case_list ul li h2 a:hover{ color:#ffffff;}
.pro_dt p
{
	color:#00418d;font-family:'微软雅黑'; font-size:18px;
	padding-bottom:15px;
}

.pro_dt_img img
{
	border:6px solid #969594;
}
.inp
{
	width:270px;
	height:45px;
}
.tablelist tr td
{
	color:#969594;font-family:'微软雅黑'; font-size:14px;
}
.inp3
{
	background:url(../images/tj.gif);
	width:107px;
	height:36px;
	cursor:pointer;
}
#keyword
{
	background:url(../images/input.gif);
	width:230px;
	height:36px;
	border:0;
	float:left;
}
#tijiao
{
	background:url(../images/fdj.gif);
	width:35px;
	height:36px;
	border:0;
	float:right;
}